/* Propojené styly pro hlavičku (: */
@import url('https://fonts.googleapis.com/css2?family=Clicker+Script&display=swap');

.header_homepage {
  height: 100vh;
  padding: 20px 40px;
  background: url(../img/header-bg-ukol.jpg) 50% 50%;
  background-size: cover;
  color: #fff;
  text-align: center;
}
.header_logo {
  font-family: 'Clicker Script', cursive;
  font-size: 2.5em;
}
.header_nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.header_menu {
  min-width: 30%;
}
.header_menu-buttons {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
  justify-content: space-between;
}
.header_menu-buttons li {
  display: inline-block;
}

.footer_homepage {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
}

.footer_links {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  list-style: none;
  min-width: 70%;
  padding: 0;
}

.footer_links a {
  display: inline-block;
  list-style: none;
  text-decoration: none;
  color: #fff;
}

@media (min-width: 768px) {
  .header_menu-buttons,
  .header_nav {
    flex-direction: row;
  }
  .header_title {
    font-size: 3em;
  }
  .header_title-text {
    font-size: 1.25em;
  }
  .header_content {
    margin-top: 15%;
  }
}
