@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;1,400;1,500&family=Open+Sans:ital,wght@0,300;0,400;0,600;1,400&display=swap');

html {
  box-sizing: border-box;
}
*,
:after,
:before {
  box-sizing: inherit;
}

/* * {
  border: 1px solid rgb(109, 61, 136);
} */

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  line-height: 1.8;
}

/* Media query pro větší obrazovky - nástřel: */
@media screen and (min-width: 768px) {
  body {
    font-size: 20px;
  }

  .authors_content {
    max-width: 1000px;
    display: flex;
    justify-content: space-between;
}
}